<!-- About Hatch Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" id="about">blog:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 writeup">
                    {% for post in site.posts %}
                            <div>
                            <h2> {{ post.title }} </h2>
                            <i> {{ post.subtitle }} </i>
                            <br>
                            <br>
                            <p><i> {{ post.date | date_to_long_string }}</i> </p>
                        </div>
                        {{ post.content }}
                        <p><i> Categories: {{ post.categories }}</i> </p>
                        <br>
                        <hr>
                        <br>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
