<!-- About Hatch Section -->
    <section id="framework">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" id="about">Framework</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center text-single-line">
                    Hatch works closely with disadvantaged youths, high-potential startups, and training providers. 
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <img src="/img/framework400.png" class="img-framework img-centered" />
                </div>
                <div class="col-sm-6 list-spaced">
                    <br>
                    <ol>
                        <li>
                            Hatch selects youths referred from welfare organizations by motivation and interest.
                        </li>
                        <li>
                           Hatch trains youths using an industry-relevant curriculum provided by companies.
                        </li>
                        <li>
                            Hatch places youths in partner companies, where they have the potential to be hired full-time after 3 months.
                        </li>
                    </ol>
                </div>


            </div>
        </div>
    </section>

                    {% comment %}
                    {% for writeup in site.hatchInfo %}
                    {{ writeup.content }}
                    {% endfor %}
                    {% endcomment %}
