<!-- About Hatch Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" id="about">Timeline</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center text-single-line">
                    <br>
                    We are currently looking for deserving youths, mentors and companies to <a href="/contact"> join us </a> on board our December 2018 intake. 
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="/img/infographics/timeline0.png" class="img-infographic-big img-centered" />
                </div>


            </div>
        </div>
    </section>

                    {% comment %}
                    {% for writeup in site.hatchInfo %}
                    {{ writeup.content }}
                    {% endfor %}
                    {% endcomment %}
