<!-- Hatch Network Section -->
    <section id="network" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-light" id="about">Network</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center writeup">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 number-stack">
                    <div class="number-big-yellow">
                        60
                    </div>
                    <div class="text-light text-center">
                        High-potential startups open to hiring Hatch’s youths
                    </div>
                </div>
                <div class="col-sm-3 number-stack">
                    <div class="number-big-yellow">
                        8
                    </div>
                    <div class="text-light text-center">
                        Social organizations referring suitable youths to Hatch
                    </div>
                </div>
                <div class="col-sm-3 number-stack">
                    <div class="number-big-yellow">
                        12
                    </div>
                    <div class="text-light text-center">
                        Youths referred to Hatch's program
                    </div>
                </div>
                <div class="col-sm-3 number-stack">
                    <div class="number-big-yellow">
                        3
                    </div>
                    <div class="text-light text-center">
                        Youths selected to be trained and placed in partner startups
                    </div>
                </div>


            </div>
        </div>
    </section>

                    {% comment %}
                    {% for writeup in site.hatchInfo %}
                    {{ writeup.content }}
                    {% endfor %}
                    {% endcomment %}
