<!-- Join us as a... Section -->
    <section id="joinUsAs">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="section-heading text-center" style="font-weight: normal;"><mark style="background-color: #F7C143;">&emsp;Join us as a&emsp;</mark></h2>
                <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 writeup">
                    <div class="row row-uiux well">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive img-centered" src="/img/joinUsAs/ereader.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 text-center">
                                    <br>
                                    <h2 class="section-heading-nocaps text-center" style="font-weight: normal;">Company</h2>
                                    Grow your business with deserving youths equipped with industry-relevant skills
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive img-centered" src="/img/joinUsAs/student.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 text-center">
                                    <br>
                                    <h2 class="section-heading-nocaps text-center" style="font-weight: normal;">Mentor</h2>
                                    Empower dreams by guiding and inspiring deserving youth
                                    <br>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive img-centered" src="/img/joinUsAs/boy0.png" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 text-center">
                                    <br>
                                    <h2 class="section-heading-nocaps text-center" style="font-weight: normal;">Youth</h2>
                                    Take charge of your own destiny by signing up with Hatch
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
