<!-- Programmes(DM) Section -->
    <section id="DM">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading-nocaps text-center"> Training curriculum </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 writeup text-left">
                    <div class="text-center">
                        <br>
                        Participants choose from one of the two tracks available:
                    </div>
                    <div class="row row-uiux well">
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive" src="/img/uiux_icon1_200.png" />
                                    UI/UX Web Design
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul>
                                        <li>
                                            HTML
                                        </li>
                                        <li>
                                            CSS
                                        </li>
                                        <li>
                                            Bootstrap Framework
                                        </li>
                                        <li>
                                            Responsive Design
                                        </li>
                                        <li>
                                            Basic PHP and Javascript
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <h2 class="section-heading text-center">
                                <br>
                                OR
                            </h2>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive" src="/img/icons/dm_200.png" />
                                    Digital marketing
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul>
                                        <li>
                                            Content creation
                                        </li>
                                        <li>
                                            Photoshop
                                        </li>
                                        <li>
                                            Analytics &amp; SEO
                                        </li>
                                        <li>
                                            Social media marketing
                                        </li>
                                        <li>
                                            Marketing project management
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 writeup text-left">
                    <div class="text-center">
                        For both tracks, the training is rounded with both soft-skills training and mentorship support.
                    </div>
                    <div class="row row-uiux well">
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive" src="/img/uiux_icon2_200.png" />
                                    Soft skills
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul>
                                        <li>
                                            Communications
                                        </li>
                                        <li>
                                            Problem-solving
                                        </li>
                                        <li>
                                            Resourcefulness
                                        </li>
                                        <li>
                                            Teamwork
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <h2 class="section-heading text-center">
                                <br>
                                AND
                            </h2>
                        </div>
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive" src="/img/uiux_icon3_200.png" />
                                    Mentorship
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul>
                                        <li>
                                            Working Professionals
                                        </li>
                                        <li>
                                            Biweekly Engagement
                                        </li>
                                        <li>
                                            Career Planning
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
