<!-- Programme requirements Section -->
    <section class="bg-light-gray" id="programmeRequirements">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading-nocaps text-center"> Programme expectations </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-m-8 col-m-offset-2 text-center">
<br>
                    <div class="well" style="background-color: white;">
                            Both fields demand an understanding of customer needs, an attention to detail, and a commitment to improve oneself. 
                            <br>
                            <br>
                            Companies want employees with the basic technical skills, an openness to learn on-the-job, and a personable character to work in a team.
                            <br>
                            <br>
                            Hatch conducts a full-time one-month training to prepare our youths for these jobs.
                    </div>
                </div>
            </div>
        </div>
    </section>
