<!-- Programmes(UIUX) Section -->
    <section id="programmesUIUX">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading-nocaps text-left"> UI/UX and Web Design</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 writeup text-left">
                    The field demands an understanding of customer needs, an attention to detail, and a commitment to improve oneself. 
                    <br><br>
                    Companies want employees with the basic technical skills, an openness to learn on-the-job, and a personable character to work in a team. 
                    <br><br>
                    Hatch conducts a full-time one-month training to prepare our youths for these jobs. 
                    <br><br>
                    <div class="row row-uiux well">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive" src="/img/uiux_icon1_200.png" />
                                    Hard skills
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul>
                                        <li>
                                            HTML
                                        </li>
                                        <li>
                                            CSS
                                        </li>
                                        <li>
                                            Bootstrap Framework
                                        </li>
                                        <li>
                                            Responsive Design
                                        </li>
                                        <li>
                                            Basic PHP and Javascript
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive" src="/img/uiux_icon2_200.png" />
                                    Soft skills
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul>
                                        <li>
                                            Communications
                                        </li>
                                        <li>
                                            Problem-solving
                                        </li>
                                        <li>
                                            Resourcefulness
                                        </li>
                                        <li>
                                            Teamwork
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-xs-12 box-middle text-bold">
                                    <img class="img-responsive" src="/img/uiux_icon3_200.png" />
                                    Mentorship
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <ul>
                                        <li>
                                            Working Professionals
                                        </li>
                                        <li>
                                            Biweekly Engagement
                                        </li>
                                        <li>
                                            Career Planning
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
