<!-- Solution Section -->
    <section id="solution" class="bg-darkest-gray">
        <div class="container">
            <h2 class="section-heading text-center text-light">The Solution</h2>
            <div class="jumbotron bg-light-gray">
                <div class="statement text-center">
                    Hatch brings training to youths and brings trained youths to companies. 
                    <br><br>
                    We invest in the unhatched potential of youths and startups to harness their returns for the collective good. 
                </div>
            </div>
        </div>
    </section>
