<!-- Header -->
<header>
    <div id="splashOverview">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Welcome to<br>our Hatch :) 
                </div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
                    <br>
                    <img class="logos" src="{{ site.baseurl }}/img/NYC2.png" height="50px" width="191px" align="right" style="margin-left:20px;"> </img>
                    <img class="logos" src="{{ site.baseurl }}/img/enactusNUS.jpg" height="50px" width="77px" align="right" style="margin-left:20px;"> </img>
                    <img class="logos" src="{{ site.baseurl }}/img/hatchHome.png" height="50px" width="100px" align="right"> </img>
            </div>
        </div>
    </div>
</header>
