<!-- Header -->
<header>
    <div id="splashOverview">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading blurtext">
                    Anyone with a dream deserves a future.
                </div>
                <div class="intro-lead-in">
                        Hatch combines training and job-matching to empower deserving youths
                </div>
                <a href="#cause" class="page-scroll btn btn-xl"> Read More </a>
            </div>
        </div>
    </div>
</header>
