<!-- Header -->
<header>
    <div id="splashOverview">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Welcome to<br>our Hatch :) 
                </div>
                <a href="#cause" class="page-scroll btn btn-xl">Tell Me More</a>
                    <!--
                    <div class="row">
                        <div class="col-md-12 col-xs-10 col-xs-offset-1">
                            <img class="logos" src="{{ site.baseurl }}/img/NYC2.png" height="50px" width="191px" align="right" style="margin-left:20px;"> </img>
                            <img class="logos" src="{{ site.baseurl }}/img/enactusNUS.jpg" height="50px" width="77px" align="right" style="margin-left:20px;"> </img>
                            <img class="logos" src="{{ site.baseurl }}/img/hatchHome.png" height="50px" width="100px" align="right"> </img>
                        </div>
                        <div "col-xs-1"></div>
                    </div>
                    -->
            </div>
        </div>
    </div>
</header>
