<!-- Work Section -->
    <section id="work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Work</h2>
                    <h3 class="section-subheading text-muted">Bringing them all together!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1:</h4>
                                    <h4 class="subheading">Finding the gaps</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Identify potential industry entry points for participants</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2:</h4>
                                    <h4 class="subheading">Creating a bridge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Design training to meet the needs of both participants and industry</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3:</h4>
                                    <h4 class="subheading">Recruiting young hopefuls</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Screen participants for programme suitability</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4:</h4>
                                    <h4 class="subheading">The journey begins</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Participants undertake and complete training</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4> <br> Success! </h4>
                            </div>
                            <div class ="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> Final step:</h4>
                                    <h4 class="subheading">To infinity and beyond </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Participants transition to on-job training and employment at partner firms</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
