<!--Our Work  Section -->
    <section id="work" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Our Work</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom:20px;">Let's try this out!</h3>
                    <p class="large text">Hatch provides effective training and job matching services to the youths who need it most by working closely with our industry partners.
                    </p>

                    <ol style="text-align:left; margin-left:15%;">
                        <li>Identify potential industry entry points for participants</li>
                        <li>Design training to meet the needs of both participants and industry</li>
                        <li>Screen participants for programme suitability </li>
                        <li>Participants undertake and complete training</li>
                        <li>Transition to on-the-job training and employment at partner firms</li>
                    </ol>
                </div>
            </div>

<!--
            <div class="row">
                <img src="{{ site.baseurl }}/img/HatchChart2.png" style="display: block; margin-left: auto; margin-right: auto;"> </img>
            </div>
-->
        </div>
    </section>
