#splashOverview {
    background-image: url('{{ site.baseurl }}/img/stock/toapayoh2.jpg');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#splashOverview {
    text-align: center;
    color: #fff;
}

#splashOverview .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

#splashOverview .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

#splashOverview .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}

@media(min-width:768px) {
    #splashOverview .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    #splashOverview .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: {{ site.data.template.font.secondary }};
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    #splashOverview .intro-text .intro-heading {
        margin-top: 45px;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: {{ site.data.template.font.primary }};
        font-size: 75px;
        font-weight: 800;
        line-height: 75px;
    }
}


.logos {
    border-radius: 5px;
}
