#splashOverview {
    background-image: url('{{ site.baseurl }}/img/kclass1banner.jpg');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#splashOverview {
    text-align: center;
    color: white;
}

#splashOverview .intro-text {
    padding-top: 0px;
}

#splashOverview .intro-text .intro-lead-in {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.primary }};
    font-size: 1em;
    font-weight: 200;
    line-height: 1em;
    color: #fefefe;
    text-shadow: 0px 0px 5px black, 0px 0px 1px black, 0px 0px 15px black;
}

#splashOverview .intro-text .intro-heading {
    padding-top: 200px;
    text-transform: none;
    font-family: {{ site.data.template.font.primary }};
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
}

#splashOverview .blurtext {
    z-index: -1;
    text-shadow: 0px 0px 1px black, 0px 0px 3px black, 0px 0px 5px black, 0px 0px 25px black, 0px 0px 35px black;
}


@media(min-width:768px) {
    #splashOverview .intro-text {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    #splashOverview .intro-text .intro-lead-in {
        margin-top: 0px;
        margin-bottom: 50px;
        font-family: {{ site.data.template.font.primary }};
        font-size: 1.5em;
        line-height: 1.5em;
    }

    #splashOverview .intro-text .intro-heading {
        padding-top: 250px;
        text-transform: none;
        font-family: {{ site.data.template.font.primary }};
        font-size: 2.5em;
        font-weight: 400;
        line-height: 2.5em;
    }


    #splashOverview .blurtext {
        z-index: -1;
        text-shadow: 0px 0px 1px black, 0px 0px 3px black, 0px 0px 5px black, 0px 0px 25px black, 0px 0px 35px black;
    }

    .statement {
        font-family: {{ site.data.template.font.primary }};
        font-size: 3em;
        font-weight: 500;
        line-height: 3em;
    }

}

@media(min-height: 768px) {
    #splashOverview .intro-text .intro-heading {
        padding-top: 350px;
        font-size: 2.75em;
        line-height: 2.75em;
    }

    #buttonSplashOverview {
        margin-bottom: 50px;
    }

    #splashOverview .intro-text .intro-lead-in {
        font-size: 1.75em;
        line-height: 1.75em;
    }
}

@media(min-height: 900px) {
    #splashOverview .intro-text .intro-heading {
        padding-top: 450px;
        font-size: 3em;
        line-height: 3em;
    }

    #buttonSplashOverview {
        margin-bottom: 100px;
    }

    #splashOverview .intro-text .intro-lead-in {
        font-size: 1.9em;
        line-height: 1.9em;
    }
}


@media(min-height: 1000px) {
    #splashOverview .intro-text .intro-heading {
        padding-top: 500px;
    }

    #buttonSplashOverview {
        margin-bottom: 200px;
    }
}

@media(min-height: 1200px) {
    #splashOverview .intro-text .intro-heading {
        padding-top: 650px;
        font-size: 3.2em;
        line-height: 3.2em;
    }

    #buttonSplashOverview {
        margin-bottom: 250px;
    }
    
    #splashOverview .intro-text .intro-lead-in {
    }
}


.logos {
    border-radius: 5px;
}

.statement {
    font-family: {{ site.data.template.font.primary }};
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.3em;
}

#bottomButtonOverview {
    background-image: url('{{ site.baseurl }}/img/roundtableHangar1440.JPG');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.problem-statement {
    font-size: 1.5em;
}

.problem-description {
    font-size: 1em;
}

@media (min-width: 768px) {
.problem-statement {
    font-size: 1.75em;
}

    .problem-description {
        font-size: 1.2em;
    }
}
