#splashProject {
    background-image: url('{{ site.baseurl }}/img/work1.jpg');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

#splashProject {
    text-align: center;
    color: #fff;
}

#splashProject .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

#splashProject .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

#splashProject .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: {{ site.data.template.font.primary }};
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    #splashProject .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    #splashProject .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: {{ site.data.template.font.secondary }};
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    #splashProject .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: {{ site.data.template.font.primary }};
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}
